@model TextPlagiarismWebApp.Models.ViewModels.AssignmentUserViewModel

@{
    ViewBag.Title = "Student Enrolled";
}

<h2>@Model.Course.Id: @Model.Course.Name</h2>
<h6>By @Model.Course.UserName</h6>



<hr />
<h4>Assignment Sessions</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Assignment Name")
        </th>
        <th>
            @Html.DisplayName("Discription")
        </th>
        <th>
            @Html.DisplayName("Time Due")
        </th>
        <th>
            @Html.DisplayName("Weight")
        </th>
        <th>
            @Html.DisplayName("Total Submissions")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Assignments)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayName(item.Submissions.Count() + " Submissions")
            </td>
        </tr>
    }

</table>
