@model IEnumerable<TextPlagiarismWebApp.Models.Submission>

@{
    ViewBag.Title = "View Submissions";
}

<h2>View Submissions</h2>

<p>
    @Html.ActionLink("Back to Your assignments", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TimeSubmitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeedBack)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TimeSubmitted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>
        <td>
            @Html.ActionLink(item.DocumentName, "DisplayDocument", new { id = item.Id})
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.FeedBack)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
